// body{
//   background: red;
// }


.banner-image
{
  background-size: cover;
}
.yellow-box{
  background-color: #ffdc2d;
  height: 1000;
  width: 800;
  border: 0px;
  padding: 0px;
  margin: 0px;
}


.yellow-image{
  border-radius: 50%;


}

.swiss-image{
  padding-left: 200px;
}

.list{
  float: left
}
