// body{
//   margin: ;
// }

body {
  margin: 3rem;
}

.banner-image
{
  background-size: contain;
}
.yellow-box{
  background-color: #ffdc2d;
  height: 1000;
  width: 800;
  text-align: left;
  max-height: 600px;

}

li{
  list-style: none;
  margin: 0 0 10px 10px;
}

.yellow-image{
  position: relative;
  top: -160px;
  left: 170px;
  border-radius: 50%;
  padding-left: 0px;
  width: 180px;
  height: 180px;


}

.swiss-image{
  position: relative;
  top: -160px;
  width: 200px;
  height: 200px;
  left:350px;
  // float: right;

}



.promoted-item {
  border: 1px grey solid;
  min-height: 300px;
  text-align:center;

}

.test{
  // min-height: 450px;
  color: black;
  position: relative;
  top: -20px;
  //padding:-10px -20px;
  // margin-top:50px;
  // border-top-right-radius: 10px;
  // border-top-left-radius: 10px;
  width:11em;
  // border:1px solid #000000;
  word-wrap:break-word;

}

.title{
  color: black;
  padding:10px 20px;
  min-height: 450px;

}

.again{
  // min-height: 450px;
  color: black;
  //padding:-10px -20px;
  //margin-top:50px;
  // border-top-right-radius: 10px;
  //border-top-left-radius: 10px;
  width:11em;
  // border:1px solid #000000;
  word-wrap:break-word;
  position:relative;
  top: -310px;
  left: 380px;
}

.newsletter-box{
  background-color: #ffdc2d;

  padding-top: 24px;
  padding-bottom: 20px;

  // position:relative;
  // left: -50px;

.flaschen{
  width: 264px;
  height: 264px;
  position:relative;
  left: 20px;
  top: -210px;

}

.lass{
  word-wrap:break-word;
  //position:relative;
  //max-height: 50px;
  width: 600px;
  text-align: left;
  position:relative;
  left: 10px;

}

.sirop{
  position:relative;
  left: 10px;

}

.button{
  position:relative;
  top: 10px;
  left: 10px;
}
  }
